node_modules
vendor
.git
.env
.env.*
!.env.example
storage/*
!storage/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
.idea
.vscode
tests
public/storage

